* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 100vh;
  width: 100vw;
}

#myVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.nav-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-around;
  bottom: 95%;
  height: 10%;
}
.discover {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  left: 20%;
  bottom: 80%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.head-discovery {
  height: 80%;
  width: 100%;
  font-size: 80px;
  text-align: justify;
}
#scroll {
  width: 100%;
  height: 7%;
  font-size: 20px;
  position: relative;
  top: 30%;
  color: white;
}
.navbar1 {
  align-items: flex-end;
  width: 50%;
}

.round-button {
  height: 100%;
  width: 100%;
  border: 2px solid yellow;
}
#arrow {
  border-radius: 100%;
  border: 1px solid red;
}
.header-logo {
  width: 15%;
}

/* .nav-link {
    color: white;
    border: 5px solid green;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    font-size:20px;
} */

.header-text{
  text-decoration: none;
  color: white;
  background-color: transparent;
}

.navbar1, 
.h-items {
  list-style: none;
  display: inline-block;
  justify-content: space-around;
  padding-left: 5%;
}
.header-text{
  text-decoration: none;
  background-color: transparent;
}
/* nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 2px;
} */

.explore {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* footer  */
/* .footer {
  display: flex;
  flex-direction: row;
  height: 80vh;
  width: 100vw;
  background-color: rgba(14, 19, 16, 0.911);
  justify-content: space-between;
  padding: 20vh 10vh 0vh 10vh;
}
.footer-text {
  color: white;
  text-decoration: none;
}
.footer li {
  list-style: none;
  font-size: 2.5vh;
  margin-top: 10px;
  padding-left: 20vh;
}
.footer-logo {
  width: 7%;
  height: 2%;
} */

.header2 {
  height: 150vh;
  width: 100vw;
}
.bg-img {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  background-image: url("../assets/discovery3.jpg");
  background-position: center;
}

.explore2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  height: 100%;
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}
.para {
  /* height: 12%; */
  font-weight: 500;
  color: black;
  font-size: 210%;
  padding-bottom: 5%;
  padding-left: 3%;
}
.para1 {
  line-height: 1.5;
  padding-bottom: 5%;
  padding-left: 3%;
}
.para2 {
  height: 50%;
  width: 80%;
  /* height: 54%; */
  /* object-fit: cover; */
  /* overflow: hidden; */
}
#image1 {
  height: 100%;
  width: 100%;
}
.part2 {
  padding-top: 5%;
  height: 70%;
  width: 35%;
}
#image2 {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .bg-img {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .explore2 {
    width: 100%;
    margin-left: 4%;
  }
  .part2 {
    width: 100%;
    margin-left: 4%;
  }
  .navbar1 {
    display: none;
  }
  .header-logo {
    width: 30%;
  }
}