* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 100vh;
  width: 100vw;
}

#myVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.nav-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-around;
  bottom: 95%;
  height: 10%;
}
.discover {
  width: 200%;
  height: 100%;
  position: relative;
  top: 200%;
  left: 150%;
  font-size: 30px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbar1 {
  align-items: flex-end;
  width: 50%;
}

/* .round-button{
  text-align: center;
  color: white;
  border-radius: 100%;
  border: 1px solid white;
  width: 15%;
  padding: 4%;
  margin-top: 5%;
  position: relative;
  left: 39%;
} */
#arrow {
  width: 30%;
  padding: 10%;
  position: relative;
  top: 400%;
  left: 500%;
}
.header-logo {
  width: 15%;
}

/* .nav-link {
    color: white;
    border: 5px solid green;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    font-size:20px;
} */


a {
  text-decoration: none;
  color: white;
}

.navbar1 li {
  list-style: none;
  display: inline-block;
  justify-content: space-around;
  padding-left: 10vh;
}
/* nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 2px;
} */

.explore {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* footer  */
/* .footer {
  display: flex;
  flex-direction: row;
  height: 80vh;
  width: 100vw;
  background-color: rgba(14, 19, 16, 0.911);
  justify-content: space-between;
  padding: 20vh 10vh 0vh 10vh;
}

.footer-text {
  color: white;
  text-decoration: none;
}
.footer li {
  list-style: none;
  font-size: 2.5vh;
  margin-top: 10px;
  padding-left: 20vh;
}
.footer-logo {
  width: 7%;
  height: 2%;
} */

.header2 {
  height: 140vh;
  width: 100vw;
}
.bg-img {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  background-image: url("../assets/background.jpg");
  background-size: auto;
}
.image {
  max-width: 100%;
  height: auto;
}
.explore2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.para {
  margin-top: 7%;
  position: relative;
  left: 5%;
  height: 12%;
  text-align: left;
  font-size: 210%;
}
.para1 {
  position: relative;
  left: 5%;
  height: 32%;
  justify-content: space-around;
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.para2 {
  height: 54%;
  object-fit: cover;
  overflow: hidden;
}
.part2 {
  margin-top: 5%;
  height: 70%;
  width: 35%;
  object-fit: cover;
}
