.header4{
    height: 160vh;
    width: 100vw;
    background-color: #f3f3f3;

}
.explore4{
    height: 100%;
    width: 100%;
    background-image: url('../assets/earth.jpg');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 70% 60%;
    overflow: hidden;

}
#lands{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding-left: 2%;
}
a{
    color:  black ;
}
.navbar{
    background-color: transparent !important;
}
/* ::-webkit-scrollbar {
    width: 1px;
}  */
.black-card{
    border: 3px solid salmon;
    background-color: black;
    position: relative;
    bottom: 5%;
    left: 50%;
    height: 40%;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.arrowfunc{
    position: relative;
    width: 15%;
    height: 5%;
    bottom: 15%;
   
}
.black2-container{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 20%;
    border: 3px solid yellow;
}
#sun{
    border: 2px solid purple;
    width: 60%;
    height: 15%;
}
#wind{
    border: 2px solid purple;
    width: 60%;
    height: 15%;
    opacity: 0.3;
}
#compass{
    border: 2px solid purple;
    width: 20%;
    height: 15%;
    
    color: violet;
}
.logo path {
    fill: #fff;
  }
.black-container{
    display: flex;
    flex-direction: column;
    border: 5px solid green;
    position: relative;
    color: white;
    
}  