.header3 {
  height: 100vh;
  width: 100vh;
}
.explore3 {
  height: 100%;
  width: 100%;
}
.head-explore {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 35px;
}

#slider {
  width: 100vw;
  overflow: hidden;
}

.sliding{
    display: flex;
    flex-direction: row; 
}
.items {
  width: 25%;
  
}

#slider .sliding{
  position: relative;
  width: 100%;
  left: 5%;
  animation-name: slider;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}
.sliding, .items{
  margin: 0% 0.5%;
}
@keyframes slider {
  0% {
    transform: translate(0%);
  }
  25%{
    transform: translateX(-20%);
  }
  50%{
    transform: translateX(-50%);
  }
  100% {
    transform:translateX(-100%);
  }
}
