.header4{
    height: 160vh;
    width: 100vw;
    background-color: #f3f3f3;

}
.explore4{
    height: 100%;
    width: 100%;
    background-image: url('../assets/earth.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 80% 100%;
    overflow: hidden;
}
#lands{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding-left: 2%;
}
a{
    color:  black ;
}
.navbar{
    background-color: transparent !important;
}
/* ::-webkit-scrollbar {
    width: 1px;
}  */
.black-card{
    background-color: black;
    position: relative;
    bottom: 5%;
    left: 50%;
    height: 45%;
    width: 45%;
    display: flex;
    flex-direction: row;
    
}
.black1-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.arrow-button{
    background-color: black;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 9%;
}
.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.txt{
    font-size: 15px;
    color: hsla(0,0%,100%,.5);
}
.main-txt{
    color: white;
}
.black2-container{
    width: 45%;
    position: relative;
    bottom: 4%;
}