.header4{
    height: 160vh;
    width: 100vw;
    background-color: #f3f3f3;

}
.explore3{
    height: 100%;
    width: 100%;
    background-image: url('../assets/earth.jpg');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 70% 60%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}
#lands{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    justify-content: space-between;
    align-items:flex-start;
    position: relative;
    left: 5.5%;    
}
.navbar{
    background-color: transparent;
    border: none;
    position: relative;
    top: 5%;
    left:5%;
    
}
::-webkit-scrollbar {
    width: 1px;
} 
.black-card{
    background-color: black;
    position: relative;
    top: 20%;
    left: 50%;
    height: 40%;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.arrowfunc{
    position: relative;
    width: 15%;
    height: 5%;
    bottom: 15%;
   
}
#earth{
    height: 90%;
    width: 40%;
    position: relative;
    left: 20%;
    bottom: 15%;
}
.black2-container{
    display: flex;
    flex-direction: row;
}
#sun{
    border: 2px solid purple;
    width: 60%;
    height: 15%;
}
#wind{
    border: 2px solid purple;
    width: 60%;
    height: 15%;
    opacity: 0.3;
}
#compass{
    border: 2px solid purple;
    width: 20%;
    height: 15%;
    
    color: violet;
}
.logo path {
    fill: #fff;
  }
.black-container{
    display: flex;
    flex-direction: column;
    border: 5px solid green;
    position: relative;
    color: white;
    
}  