.header3 {
  height: 110vh;
  width: 100vh;
}
.explore3 {
  height: 100%;
  width: 100%;
}
.head-explore {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 35px;
}
.basic-action{
  width: 43%;
  height: 7%;
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 7%;
  left: 145%;
}
.carousel-control-prev,
.carousel-control-next {
  font-weight: bold;
  cursor: pointer;
  /* width: 20%;
  height: 35%; */
  border-radius: 50%;
  border: none;
  padding: 10%;
  
}
#slider {
  width: 100vw;
}

.sliding{
    display: flex;
    flex-direction: row; 
}
.items {
  width: 25%;
  
}

#slider .sliding{
  position: relative;
  width: 100%;
  left: 5%;
  animation-name: slider;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}
.sliding, .items{
  margin: 0% 0.5%;
}
@keyframes slider {
  0% {
    transform: translate(0%);
  }
  25%{
    transform: translateX(-20%);
  }
  50%{
    transform: translateX(-50%);
  }
  100% {
    transform:translateX(-100%);
  }
}
@media only screen and(max-width:900px) {
    .header3{
      width: 100%;
      height: 100%;
    }
    #slider{
      width: 100%;
    }
    .items{
      width: 100%;
    }
}
