.world {
  height: 25vh;
  width: 100vw;
  background-color: black;
}
#world-id {
  height: 100%;
  width: 100%;
}
.header2 {
  /* height: auto;
  width: auto; */
  display: flex;
  flex-direction: column;
}
.section1 {
  height: 40vh;
  width: 100vw;
  padding-top: 5%;
  background-color: black;
}
.card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.container {
  height: 100%;
  width: 24.5%;
  position: relative;
  left: 2%;
}
/* ::-webkit-scrollbar {
    width: 5px;
} */

.photo {
  height: 70%;
  width: 95%;
}
.head-text {
  height: 3%;
  text-align: left;
  color: #fff;
  font-family: "Roboto", sans-serif;
  position: relative;
  bottom: 6%;
}
.para-text {
  height: 2%;
  text-align: left;
  color: #777;
  font-family: "Roboto", sans-serif;
  position: relative;
  bottom: 6%;
}
